*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial;
    font-size: 103%;
}

body{
    background: #1e1644;
}

.imaga{
    position: absolute;
    top: 26%;
    left: 22%;
}

.film{
    font-size: 110%;
}

.imaga .imga{
    border:1px solid #000;
    max-width: 20%;
}

.imaga h1{
    padding-top: .5%;
    padding-left: 16%;
    color: #efff08;
}

.imaga p{
    padding-top: 1.5%;
    color: #cc1515;
    font-size: 70%;
}

.film b{
    font-size: 120%;
    color: #ff0000;
}

.film a{
    font-size:120%;
    color: aqua;
}

.imagb{
    position: absolute;
    top: 26%;
    left: 57%;
}

.imagb .imgb{
    border:1px solid #000;
    max-width: 20%;
}

.imagb h1{
    padding-top: .8%;
    color: #efff08;
}

.imagb p{
    padding-top: 2.5%;
    color: #cc1515;
    font-size: 70%;
}


#full-header{
    width: 100%;
    background: #361bb1;
}
 
header{
    display: flex;
    width: 30%;
    margin-right: 10%;
    margin-left: auto;
    top:0px;
    background: #361bb1;
}

.top h1{
    font-size: 230%;
    padding-top: 8%;
    margin-left: -210%;
}

header a.logo{
    padding: 1.5%;
    display: inline-flex;
    align-items: center;
    margin-right: 1.5%;
}

header a.logo img{
    max-width: 60%;
    border-radius: 50%
}

header nav{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

header nav ul{
    list-style: none;
    display: inline-flex;
}

header nav ul li{
    padding: 8%;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

header nav ul li a{
    color: #efff08;
    text-decoration: none;
}

header nav ul li.menu-dropdown ul{
    display: none;
    position: absolute;
    left: 0;
}

header nav ul li.princ{
    background: #12217a;
}

header nav ul li:hover{
    background: #6b0101;
}



html, body{
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1%;
}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display:block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;

}

label span:nth-child(2){
    top: 8px;
    
}

label span:nth-child(3){
    top: 16px;
    
}

#checkbox-menu:checked ~ .separado{
    opacity: 1;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

#checkbox-menu:checked + label{
    box-shadow: 0 0 0 20vw #f16234 0 0 0 100vh #f16234;
}

.separado{
    position: absolute;
    left: 2.5%;
    top: 25%;
    opacity: 0;
}

.separado a{
    display: block;
    color: blueviolet;
    margin-bottom: 9%;
    font-size: 120%;
    text-decoration: none;
}